<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/base.css')}}">
</head>

<body>

<nav class="navbar">
    <div class="nav-contenedor">

        <!-- Logo -->
        <a class="nav-logo" href="#" style="display:flex; align-items:center; gap:8px; text-decoration:none; color:white;">

            <!-- Logo SVG -->
                <svg width="28" height="28" viewBox="0 0 100 100" fill="white" xmlns="http://www.w3.org/2000/svg">
                    <!-- Pelota -->
                    <circle cx="50" cy="50" r="45" stroke="white" stroke-width="4" fill="none"/>
        
                    <!-- Diseño simple tipo balón -->
                    <polygon points="50,30 60,45 50,60 40,45" fill="white"/>
                </svg>

            <!-- Texto -->
                <span style="font-weight:bold; font-size:18px;">
                    Copa Renault
                </span>

        </a>

        <!-- Botón hamburguesa -->
        <button class="nav-toggle" id="navToggle">
            ☰
        </button>

        <!-- Menú -->
        <div class="nav-menu" id="navMenu">
            <ul class="nav-lista">

                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('lenguajes') }}">Lenguajes</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('contacto') }}">Contacto</a>
                </li>

            </ul>
        </div>

    </div>
</nav>

<div class="container">
    {% block body %}
    {% endblock %}
</div>

<script src="{{url_for('static', filename= 'js/base.js')}}"></script>
</body>
</html>